.m-archive-order {
    .u-notice {
        .ml(10px);
    }
}

.m-face-list {
    .mt(20px);
    .u-list {
        .clearfix;
        list-style:none;
        // padding:0;
        // margin:0;
    }
    .u-item {
        .fl;
        .mr(20px);
        .mb(20px);
        .db;
        .w(100%);
        max-width:190px;
        box-sizing: border-box;
    }
    .u-face {
        .db;
        box-sizing: border-box;
        .w(100%);
        .h(220px);
        border: 1px solid @border-hr;
        padding: 5px;
        transition: all 0.2s ease-in-out;
        .r(4px);

        &:hover {
            filter: saturate(120%) brightness(110%);
            border-color: @primary;
        }

        .u-info {
            .pa;
            .lb(0);
            .size(100%, 30%);
            background-color: rgba(0, 0, 0, 0.6);
            .fz(12px);
            padding: 5px 0;
            b,
            em {
                .db;
                .nobreak;
                .auto(x);
                font-weight: 300;
                color: #eee;
            }
            b {
                .w(90px);
            }
            em {
                .w(70px);
            }
            transform: translateY(100%);
            transition: 0.1s ease-in-out;
        }
        &:hover {
            .u-info {
                transform: translateY(0);
            }
        }

        i,img{
            .db;
            .size(100%);
        }
    }
    .u-down{
        .db;.auto(x);
        .mt(10px);
    }
}

@media screen and (max-width:@smallpc){
    .m-face-list .el-col{
        .w(16.66667%);
    }
    .m-face-list .u-face{
        .h(240px);
    }
}

@media screen and (max-width:@notebook){
    .m-face-list .el-col{
        .w(20%);
    }
}

@media screen and (max-width:@mininote){
    .m-face-list .el-col{
        .w(25%);
    }
}
@media screen and (max-width:@ipad){
    .m-face-list .el-col{
        .w(20%);
    }
    .m-face-list .u-face{
        .h(220px);
    }
}
@media screen and (max-width:@ipad-y){
    .m-face-list .el-col{
        .w(25%);
    }
}
@media screen and (max-width:@phone){
    .m-face-list .el-col{
        .w(50%);
    }
}